@model List<Project.Common.Entities.Product>

@{
    var relaventDisplayNumber = 4;
}

<!-- Section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Sản phẩm liên quan</h3>
                </div>
            </div>

            <!-- product -->
            @foreach (var p in Model)
            {
                @if (relaventDisplayNumber == 0)
                {
                    break;
                }
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div class="product-img">
                            <img src=@p.ImageUrl alt="">
                            <div class="product-label">
                                @if (p.Discount != 0)
                                {
                                    var discountDisplay = p.Discount * 100;
                                    <span class="sale">-@discountDisplay%</span>
                                }
                            </div>
                        </div>
                        <div class="product-body">
                            <p class="product-category">@p.ProductType</p>
                            <h3 class="product-name"><a href="@Url.Action("Index", "Detail", new { ID = p.Id })">@p.Name</a></h3>
                            @if (p.Discount != 0)
                            {
                                <h4 class="product-price">
                                    @{
                                        String oldMoney = String.Format("{0:0,00} VND", p.Price);
                                        String newMoney = String.Format("{0:0,00} VND", p.Price - p.Price * p.Discount);
                                    }
                                    @newMoney
                                    <del class="product-old-price">@oldMoney</del>
                                </h4>
                            }
                            else
                            {
                                <h4 class="product-price">
                                    @{
                                        String money = String.Format("{0:0,00} VND", p.Price);
                                    }
                                    @money
                                </h4>
                            }

                            <div class="product-rating">
                                @for (int i = 0; i < p.Rating; i++)
                                {
                                    <i class="fa fa-star"></i>
                                }
                                @for (int i = p.Rating; i < 5; i++)
                                {
                                    <i class="fa fa-star-o"></i>
                                }
                            </div>
                            <div class="product-btns">
                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <button id="@p.Id" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                        </div>
                    </div>
                </div>

                relaventDisplayNumber -= 1;
            }
            <!-- /product -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /Section -->